.wrapper .menu {
    background-color: #fff;
}

.data-santri .judul {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #285430;
}

.data-santri table {
    font-family: open sans;
}

.data-santri table thead {
    font-weight: 600;
}

.data-santri .tombol-hapus {
    border: none;
    border-radius: 30px;
    background-color: #AC4425;
    color: white;
    padding: 3px 15px;
    margin: 0px 10px 0 0;
}

.data-santri .tombol-ubah {
    border: none;
    border-radius: 30px;
    background-color: #5F8D4E;
    color: white;
    padding: 3px 15px;
    margin: 0px -40px 0 0;
}

.ubah .judul {
    font-size: 37px;
    font-weight: 900;
    margin: 0 0 50px 0;
}

.ubahdata {
    margin: 0 15%;
}

.ubah .edit {
    font-family: open sans;
}

.tombol {
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    margin: 20px 10px 0 0;
    background-color: #5F8D4E;
    color: white;
    padding: 7px 15px;
}


